/**************Reset*******************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, nav, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html * {
  max-height: 1000000px;
}

/*****************Colors****************************/

$white: #ffffff;
$body: #fcfdfe;
$black: #1f1f1f;
$lightblack: #3c3d3d;
$text: #797979;
$green: #6bbc32;
$gray: #d7d8d9;
$lightgreen: #76d037;
$blue: #3324a4;
$lightblue: #3e2cc7;
$panel: #f3f4f6;
$lightpanel: #f7f7f8;
$thumbs: #edeeef;
$border: #dddee0;
$lightborder: #e9e9e9;
$darkborder: #bababa;
$icon: #b2b2b2;
$darkicon: #858585;
$orange: #ffa000;
$lightorange: #fcb800;
$red: #e64a19;
$lightred: #f7591b;

/*******************************************************/

@mixin transition($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}

@mixin transition2($prop,$prop2) {
  -webkit-transition: $prop, $prop2;
  -moz-transition: $prop, $prop2;
  -o-transition: $prop, $prop2;
  transition: $prop, $prop2;
}

@mixin transition3($prop,$prop2,$prop3) {
  -webkit-transition: $prop, $prop2, $prop3;
  -moz-transition: $prop, $prop2, $prop3;
  -o-transition: $prop, $prop2, $prop3;
  transition: $prop, $prop2, $prop3;
}

@mixin transition4($prop,$prop2,$prop3,$prop4) {
  -webkit-transition: $prop, $prop2, $prop3, $prop4;
  -moz-transition: $prop, $prop2, $prop3, $prop4;
  -o-transition: $prop, $prop2, $prop3, $prop4;
  transition: $prop, $prop2, $prop3, $prop4;
}

@mixin transform($prop) {
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -o-transform: $prop;
  transform: $prop;
}

@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 14px;
  background: $body;
  position: relative;
  color: $text;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-text-size-adjust: none;
  text-rendering: optimizelegibility;
  overflow: hidden;
}

a {
  text-decoration: none;
  @include transition(all 0.4s);
  outline: none !important;
  cursor: pointer;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

input, button, textarea, select {
  outline: none !important;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

strong, b {
  font-weight: 700;
}

.page {
  position: relative;
  height: 100%;
  overflow: hidden;
  aside {
    background: $white;
    width: 195px;
    position: relative;
    height: 100%;
    float: left;
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
    @include transition(width 0.4s linear);
    padding-bottom: 56px;
    .fixed-height {
      border-bottom: 1px solid $lightborder;
    }
    header {
      background: $blue;
      text-align: center;
      padding: 19px 0 19px 0;
      font-size: 0;
      height: 70px;
      overflow: hidden;
      a {
        display: inline-block;
        font-size: 0;
        img {
          vertical-align: top;

        }
      }
    }
    .logo-icon {
      @include transition(all 0.3s);
    }
    .logo-text {
      opacity: 1;
      @include transition2(opacity 0.2s 0.4s, transform 0.2s 0.4s);
      @include transform(scale(1));
      position: relative;
    }
    .user-info {
      text-align: center;
      padding-top: 30px;
      div {
        display: inline-block;
        vertical-align: top;

      }
      .user-icon {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        overflow: hidden;
        @include transition(all 0.2s 0.4s);
        img {
          display: block;
          width: 100%;
        }
      }
      .user-name {
        width: 100%;
        font-size: 13px;
        color: $black;
        height: 30px;
        line-height: 30px;
        opacity: 1;
        @include transition(all 0.2s 0.4s);
        @include transform(scale(1));
        overflow:hidden;
        span{
          line-height:15px;
          display:inline-block;
          vertical-align: bottom;
        }

      }
    }
    .panel-actions {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0;
      text-align: center;
      a {
        display: inline-block;
        padding: 0 8px;
        vertical-align: top;
        color: $icon;
        i {
          font-size: 14px;
          line-height: 20px;

        }
        &:hover {
          color: $darkicon;
        }
      }
    }
    .user-actions {
      li {
        display: block;
      }
      a {
        display: block;
        padding: 0px 22px;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 54px;
        height: 54px;
        overflow: hidden;
        color: $text;
        position: relative;
        i {
          width: 16px;
          text-align: left;
          position: absolute;
          top: 17px;
          left: 22px;
          line-height: 20px;
          @include transition(all 0.4s);
        }
        &:hover {
          color: $black;
          i {
            color: $blue;
          }
        }
        span {
          opacity: 1;
          display: inline-block;
          padding-left: 39px;
          line-height: 20px;
          vertical-align: middle;
          @include transition(all 0.2s 0.4s);
          @include transform(scale(1));
        }
      }
      a.active {
        background: $lightpanel;
        color: $blue;
        &:hover {
          color: $blue;
        }
      }
      li.skype-name a{
        cursor:text;
        line-height:20px;
        text-transform: none;
       span{
         padding-left:0;
         text-align: center;
       }
      }
    }
    footer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      padding-bottom: 40px;
      opacity: 1;
      @include transition2(opacity 0.2s 0.4s, transform 0.2s 0.4s);
      @include transform(scale(1));
    }
  }
  .work-window {
    margin-left: 195px;
    position: relative;
    height: 100%;
    @include transition(margin 0.4s linear);
  }
  .work-panel {
    background: $panel;
    width: 225px;
    position: relative;
    height: 100%;
    float: left;

  }
  .work-space {
    position: relative;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
  }
  .work-panel + .work-space {
    margin-left: 225px;
    position: relative;
    height: 100%;
    padding-right: 0;
    overflow: hidden;
    .buttons-row{
      padding-right:30px;
    }
  }
}

.page.close-panel {
  aside {
    width: 75px;
    .logo-text {
      @include transition2(opacity 0s, transform 0s);
      opacity: 0;
      @include transform(scale(0));
      position: absolute;

    }
    .user-info .user-name {
      @include transition(all 0s);
      opacity: 0;
      @include transform(scale(0));

    }
    .user-actions a span {
      @include transition(all 0s);
      opacity: 0;
      @include transform(scale(0));

    }
    .user-actions a i {
      margin: 0;
      width: 31px;
      text-align: center;
    }
    .user-info .user-icon {
      width: 50px;
      height: 50px;
      margin-top: 8px;
      margin-bottom: 7px;
      @include transition(all 0s);
    }
    footer {
      @include transition2(opacity 0.2s, transform 0.2s);
      opacity: 0;
      @include transform(scale(0));
    }
  }
  .work-window {
    margin-left: 75px;
  }
}

.filters-block {
  border-bottom: 1px solid $border;
  strong {
    margin-bottom: 18px;
  }
}

.panel-item {
  padding: 30px 20px 22px 20px;
  strong {
    display: block;
    color: $black;
    font-size: 15px;
    font-weight: 700;
  }
}

.batches-block.process {
  border-bottom: 1px solid $border;
}

.scroll-wrap {
  overflow: auto;
}

.batches-block {
  strong {
    margin-bottom: 14px;
  }
  ul {
    margin: 0 -20px;
    li a {
      display: block;
      line-height: 20px;
      padding: 9px 20px;
      font-size: 14px;
      color: $text;
      i {
        width: 16px;
        text-align: left;
        margin-right: 12px;
        color: $icon;
        font-size: 13px;
        &:before {
          content: "\f07b";
        }
      }
      &:hover {
        color: $black;
      }
    }
    li .active {
      background: $blue;
      color: $white;
      i {
        color: $white;
        &:before {
          content: "\f07c";
        }
      }
      &:hover {
        color: $white;
      }
    }
  }
  .disable-message {
    border: 1px solid $border;
    border-radius: 5px;
    padding: 45px 24px;
    text-align: center;
    margin-top: 22px;
    i {
      color: $text;
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 12px;
    }
    div {
      font-size: 13px;
      line-height: 21px;
    }
  }
}

select, input[type="file"] {
  opacity: 0;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
  display: inline-block;
  line-height: 37px;
  height: 39px;
  font-size: 13px;
  color: $text;
  background: $white;
  outline: none;
  border: 1px solid $border;
  border-radius: 5px;
  -webkit-appearance: none;
  padding-left: 13px;
  padding-right: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  &::-webkit-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $text;
  }
  &:-moz-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $text;
  }
  &:-ms-input-placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $text;
  }

}
.massege-error{
  font-size: 13px;
  line-height:15px;
  color:$red;
  display:block;
}
input[type="text"].error, input[type="email"].error, input[type="tel"].error, input[type="password"].error, textarea.error{
  border-color:$red;
}

.jq-selectbox {
  display: inline-block !important;

}

.jq-selectbox__select {
  width: 100%;
  display: block;
  line-height: 37px;
  height: 39px;
  text-align: left;
  border: 1px solid $border;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  color: $text;
  background: $white;
  border-radius: 5px;
  outline: none;
  padding: 0px 23px 0px 13px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  .jq-selectbox__select-text {
    width: 100% !important;
  }

}
.jq-selectbox.error .jq-selectbox__select{
  border-color:$red;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0px;
  height: 39px;
  line-height: 40px;
  width: 12px;
  right: 9px;
  color: $black;
  text-align: center;

  &:after {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
  }
}

.jq-selectbox__dropdown {
  min-width: 100% !important;
  background: $white;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 0px;
  border: 1px solid $border;
  li {
    line-height: 20px;
    font-size: 13px;
    color: $text;
    padding: 5px 13px;
    text-align: left;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      background: $lightpanel;
    }
  }
  li.selected {
    background: $lightpanel;
  }

}

.datepicker {
  cursor: pointer;
}

.panel-item {
  .jq-selectbox {
    display: block !important;
    margin-bottom: 11px;
  }
  .jq-selectbox__select {
    border: none;
    line-height: 39px;
  }
  .jq-selectbox__dropdown {
    border: none;
    margin-top: 2px;
  }
}

.work-space {
  h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
    padding-top: 40px;
    color: $black;
  }
  ul.options {
    padding-bottom: 20px;
    border-bottom: 1px solid $lightborder;
    li {
      display: inline-block;
      line-height: 26px;
      margin-right: 50px;
      strong {
        color: $black;
      }
    }
  }
  .buttons-row {
    padding: 25px 0px 0px 0;
    display: table;
    width: 100%;
    .notice{
      display:block;
      font-size:13px;
      margin-top:-20px;
    }
    .action-button, .cancel-button {
      margin-bottom: 25px;
      margin-right: 7px;
    }
    .buttons-td-left, .buttons-td-right {
      display: table-cell;
      vertical-align: top;
    }
    .buttons-td-left {
      .jq-selectbox {
        margin-right: 7px;
      }
    }
    .buttons-td-right {
      text-align: right;
      .action-button,.cancel-button {
        margin-right: 0;
        margin-left:7px;
      }

    }
    .datepicker {
      width: 140px;
      margin-bottom: 25px;
      vertical-align: top;
    }
    label {
      line-height: 39px;
      display: inline-block;
      color: $black;
      vertical-align: top;
      font-weight: 700;
      margin-right: 9px;
    }
    .jq-selectbox {
      margin-bottom: 25px;
      vertical-align: top;
    }
    .jq-selectbox__select {
      width: 160px;
    }
    .jq-selectbox__dropdown {
    }
    .upload-form{
      display:inline-block;
      margin-bottom: 25px;
      vertical-align: top;
    }
    .jq-file{
      display:inline-block;
      height:39px;
      background:$orange;
      color:$white;
      font-weight:700;
      text-align: center;
      line-height: 15px;
      padding:12px 14px;
      font-size:14px;
      border-radius:3px;
      vertical-align: top;
      margin-right: 7px;
      @include transition(all 0.4s);
      img{
        vertical-align: top;
        margin-right: 9px;
        display:inline;
      }
      &:hover{
        background:$lightorange;
      }
      .jq-file__name{
        opacity:0;
        visibility: hidden;
        font-size:0;
        position:absolute;
        left:-1000000px;
      }
    }
    input[type="file"]{
      cursor:pointer;
    }
  }

  .photos-wrapper {
    margin: 0 -6px;
    padding-right: 30px;
    padding-bottom: 30px;
    .photo-item {
      padding: 0 6px;
      float: left;
      width: 20%;
      margin-bottom: 12px;
    }

  }
  .mCSB_scrollTools{
    margin-right:5px;
  }
}

.photo-item {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  .details {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 13px;
    color: $text;
    border: 1px solid $darkborder;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    width:62px;
    text-align: center;
    border-radius: 2px;
    background: $white;
    z-index: 2;
    &:hover {
      background: $lightpanel;
      color: $black;
    }
  }
  .download {
    display: block;
    position: absolute;
    bottom: 7px;
    left: 79px;
    border: none;
    padding: 8px 8px;
    height: 30px;
    border-radius: 2px;
    background: $blue;
    z-index: 2;
    text-align: center;
    img{
      display:block;
      width:15px;
      height:14px;
    }
    &:hover {
      background: $lightblue;

    }
  }
  .img-overlay {
    padding-top: 100%;
    background: $thumbs;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    @include transition(all 0.4s);
    cursor: pointer;
    &:hover {
      box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    }
    img.main-thumb {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      max-height: 100%;
      max-width: 100%;
      z-index: 1;
    }
    .status {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      font-size: 11px;
      padding: 1px 10px 0 10px;
      line-height: 19px;
    }
    .status.declined {
      color: $white;
      background: $red;
    }
    .status.waiting {
      color: $white;
      background: $orange;
    }
    .status.approved {
      color: $white;
      background: $green;
    }
    .status.default {
      color: $lightblack;
      background: $gray;
      font-weight: 500;
    }
    .small-thumb {
      position: absolute;
      right: 7px;
      bottom: 7px;
      width: 28%;
      padding-bottom: 28%;
      background: $thumbs;
      z-index: 3;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px solid $white;
      }
      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        max-height: 100%;
        max-width: 100%;
      }
    }
    .overlay {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.85);
      opacity: 0;
      @include transition(opacity 0.4s);
    }
    .check {
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      background: $green;
      color: $white;
      width: 20px;
      height: 20px;
      text-align: center;
      i {
        line-height: 20px;
        font-size: 13px;
      }
      opacity: 0;
      @include transition(opacity 0.4s);
    }
  }

  input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: -10000px;
  }
  input[type="checkbox"]:checked + .img-overlay {
    .overlay, .check {
      opacity: 1;
    }
  }
  input[type="checkbox"]:disabled + .img-overlay {
    cursor: url("../images/frontend/cursor-disabled.gif"), default;
    &:hover {
      box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
    }
  }

}
.cancel-button {
  -webkit-appearance: none;
  box-shadow: none;
  margin: 0;
  border: none;
  color: $text;
  background:$white;
  font-weight: 700;
  padding: 11px 13px;
  border-radius: 3px;
  line-height: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 80px;
  border:1px solid $darkborder;
  @include transition(all 0.4s);
  &:hover{
    background:$lightpanel;
    color:$black;
  }

}

.action-button {
  -webkit-appearance: none;
  box-shadow: none;
  margin: 0;
  border: none;
  color: $white;
  font-weight: 700;
  padding: 12px 14px;
  border-radius: 3px;
  line-height: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 80px;
  @include transition(all 0.4s);
  img {
    vertical-align: top;
    margin-right: 9px;
  }

}

.green-button {
  background: $green;
  &:hover {
    background: $lightgreen;
  }
}

.blue-button {
  background: $blue;
  &:hover {
    background: $lightblue;
  }
}

.orange-button {
  background: $orange;
  &:hover {
    background: $lightorange;
  }
}

.red-button {
  background: $red;
  &:hover {
    background: $lightred;
  }
}

.action-button.disable{
  background:$icon;
  cursor:default;
  &:hover{
    background:$icon;
  }
}


.modal_window {
  display: none;
}

.fancybox-bg {
  background: $white;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.95;
}

.fancybox-slide {
  .modal_window {
    width: 554px;
    box-shadow: 0 0 65px rgba(0, 0, 0, 0.15);
    padding: 50px 30px 30px 30px;
    overflow: visible;

    color: $black;
    font-size: 14px;
    line-height: 23px;
    .title {
      font-weight: 500;
      font-size: 23px;
      padding-bottom: 25px;
      margin-bottom: 23px;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 50px;
        background: $blue;
      }
    }
    ul {
      padding-left: 15px;
    }
    ul li {
      list-style-type: disc;

    }
    ol li {
      list-style-type: decimal;
      list-style-position: inside;
    }
    p, ul, ol {
      margin-bottom: 23px;
    }
    .jq-selectbox {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
        }
      }
    }
    .modal-table {
      width: 100%;
      margin-bottom: 23px;
      td {
        padding: 10px;
        text-align: left;
        a {
          color: $blue;
        }
      }
      .text-error{
        color:$red;
      }
      .text-success{
        color:$green;
      }

      tbody {
        td {
          border: 1px solid $lightborder;
        }
      }
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea, .action-button, label, .jq-selectbox {
      display: block !important;
      width: 100%;
      margin-bottom: 14px;
    }
    .massege-error{
      margin-bottom:14px;
      margin-top:-12px;
    }
    .action-button {
      margin-bottom: 23px;
    }
    label {
      font-weight: 700;
      padding-bottom: 2px;
      margin-bottom: 0;
    }
    .buttons-row{
      padding-top: 23px;
      text-align: center;
      .action-button.confirm-refuse{
        display: inline-block !important;
        width:auto;
        min-width:100px;
      }

    }

  }
  .cash_window {
    width: 330px;
  }
}

.fancybox-close-small {
  -webkit-appearance: none;
  box-shadow: none;
  width: 30px;
  height: 30px;
  top: -28px;
  right: -50px;
  background: url("../images/frontend/close-pop.png") no-repeat 100%;
  opacity: 0.4;
  @include transition(all 0.4s);
  &:after {
    display: none;
  }
  &:hover {
    opacity: 0.8;
  }
}

/*******************Designer Financial data*************/

.text-table {
  width: 100%;
  font-size: 13px;
  td {
    padding: 5px 25px;
    line-height: 20px;
    text-align: center;
    a {
      color: $blue;
    }
  }
  thead td {
    color: $black;
    background: $panel;
  }
  tbody {
    tr:nth-child(even) td {
      background: $lightpanel;
    }
    td + td {
      border-left: 1px solid $lightborder;
    }
  }
}

.ui-datepicker-trigger {
  -webkit-appearance: none;
  border: none;
  display: inline-block;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 13px;
  line-height: 39px;
  height: 39px;
  width: 23px;
  text-align: left;
  margin-left: -23px;
  color: $black;
  cursor: pointer;
  &:before {
    content: "\f073";
    font-family: FontAwesome;

  }
  &:hover {
    color: $blue;
  }
}

input.datepicker:hover + .ui-datepicker-trigger {
  color: $blue;
}

.picker-wrap {
  display: inline-block;
  vertical-align: top;
}

.ui-widget.ui-widget-content {
  border: none;
  padding: 0;
  border-radius: 0;
  background: $white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: 273px;
}

.ui-datepicker .ui-datepicker-header {
  background: $blue;
  border-radius: 0;
  border: none;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 8px 0 6px 0;
  .ui-datepicker-title {
    line-height: 30px;
    margin: 0 40px;
  }
}

.ui-datepicker th {
  background: $blue;
  color: $white;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 5px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  height: 30px;
  line-height: 28px;
  width: 30px;
  text-align: center;
  top: 8px;
  border-radius: 50%;
  border: 1px solid transparent;

  &:hover {
    background: transparent;
    border-color: $white;
  }

}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
  span {
    padding-right: 1px;
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      color: $white;
      font-size: 16px;
    }
  }
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
  span {
    padding-left: 1px;
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      color: $white;
      font-size: 16px;
    }
  }
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  position: static;
  display: inline-block;
  margin: 0;
  background: none;
  text-indent: 0;
  font-size: 0;
  height: 28px;
  line-height: 27px;
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-weight: normal !important;
}

.ui-datepicker table {
  thead {
    background: $blue;
  }
  td {
    padding: 2px;
    font-size: 16px;
    color: $text;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    background: $white !important;
    a, span {
      font-weight: 400 !important;
      font-family: "Roboto", sans-serif !important;
      text-align: center !important;
      border-radius: 50% !important;
      padding: 0 !important;
      height: 35px !important;
      width: 35px !important;
      line-height: 34px !important;
    }
    .ui-state-default {
      color: $text;
      border-color: transparent;
      background: $white;
      &:hover {
        border-color: $blue;
        color: $blue;
      }
    }
  }
  .ui-datepicker-today {
    .ui-state-default {
      color: $blue;
      border-color: $thumbs;
      background: $thumbs;
      &:hover {
        border-color: $blue;
      }
    }
  }
  .ui-datepicker-current-day {
    .ui-state-default {
      color: $white;
      border-color: $blue;
      background: $blue;
    }
  }
}

.image-tooltip {
  position: absolute;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  @include transition(all 0.2s linear);
  .photo-item {
    border: 4px solid $white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    .img-overlay {
      box-shadow: none;
    }
  }
}

.image-tooltip.visible {
  opacity: 1;
  visibility: visible;
}

.tabs_wrap{
  .tabs-buttons{
    border-bottom: 1px solid $blue;
  }
  label{
    display: inline-block;
    cursor: pointer;
    background:$lightpanel;
    padding: 11px 13px 11px 14px;
    line-height:15px;
    border-radius: 3px 3px 0 0;
    border: 1px solid $lightborder;
    border-bottom:none;
    font-weight:500;
    display:block;
    float:left;
   @include transition(all 0.4s);
    &:hover{
      color: $blue;
      background:$thumbs;
    }
  }
  label + label{
    margin-left: 2px;
  }
  input.tabsstyle {
    position: absolute;
    left: -9999px;
  }
  #tab1:checked ~ .tabs-buttons #tab_l1, #tab2:checked ~ .tabs-buttons #tab_l2{
    background: $blue;
    color:$white;
    border-color:$blue;
    &:hover{
      color:$white;
      background:$lightblue;
    }
  }
  .tab{
    position: absolute;
    top: -99999px;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }

}
#tab1:checked ~ .tabs_cont #tab11, #tab2:checked ~ .tabs_cont #tab22{
  position: static;
  left: 0;
  opacity: 1;
}









/*********************Designer Registration**********************/
.user-data-wrap {
  padding-top: 10px;
}

.user-photo {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  min-width: 165px;
  max-width:260px;
  img {
    max-width: 100%;
    display: block;
  }
  .jq-file{
    display:block !important;
    margin-top:11px;
    height:39px;
    background:$blue;
    color:$white;
    font-weight:700;
    text-align: center;
    line-height: 15px;
    padding:12px;
    font-size:14px;
    border-radius:3px;
    @include transition(all 0.4s);
    img{
      vertical-align: top;
      margin-right: 9px;
      display:inline;
    }
    &:hover{
      background:$lightblue;
    }
    .jq-file__name{
      opacity:0;
      visibility: hidden;
      font-size:0;
      position:absolute;
      left:-1000000px;
    }
  }
  input[type="file"]{
    cursor:pointer;
  }
}

.user-data {
  width: 46%;
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
  min-width: 420px;
  max-width:700px;
  table {
    width: 100%;
    border-bottom: 1px solid $lightborder;
    margin-bottom: 25px;
    input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea {
      display: block;
      width: 100%;
      height: 35px;
      line-height: 33px;
    }
    td {
      height: 41px;
      vertical-align: middle;
      font-size: 13px;
      position: relative;
      width: 35%;

    }
    td + td {
      padding-left: 20px;
      width: 65%;
      padding-right:30px;
    }
    tr.empty td {
      height: 24px;
    }
    label {
      color: $black;
      font-weight: 700;
      font-size: 14px;
    }
    label, a, span {
      line-height: 18px;
      display: inline-block;
    }
    div.form-text,div.static-text {
      height: 41px;
      line-height: 41px;
    }
    div.form-text {
      position: absolute;
      left: 20px;
      right: 0;
      top: 0;
      @include transition2(opacity 0.3s linear 0.2s, visibility 0.3s linear 0.2s);
      i{
        color:$blue;
        margin-left:6px;
      }
    }
    .edit-form{
      padding-top:3px;
      height:41px;
      opacity:0;
      visibility: hidden;
      position:relative;
      @include transition2(opacity 0.3s linear 0s, visibility 0.3s linear 0s);
      input[type="radio"] {
        width: 0;
        height: 0;
        visibility: hidden;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        left: -10000px;
      }
      input[type="radio"] + i {
        width: 17px;
        height: 17px;
        display: block;
        position:absolute;
        right:-30px;
        background: $white;
        border: 1px solid $text;
        border-radius:50%;
        cursor: pointer;
        top: 12px;
        &:before {
          content: "";
          border-radius:50%;
          width: 9px;
          height:9px;
          display: block;
          background: $blue;
          position: absolute;
          top: 3px;
          right: 3px;
          opacity: 0;
          visibility: hidden;
        }
      }
      input[type="radio"]:checked + i {
        border: 1px solid $text;
        &:before {
          opacity: 1;
          visibility: visible;
        }

      }
      input[type="radio"]:disabled + i {
        border: 1px solid $darkborder;
        &:before {
          opacity: 0;
          visibility: hidden;
        }

      }

    }
    .jq-file {
      float: left;
      display: block !important;
      cursor:pointer;
      color:$blue;
      &:hover{
        color:$lightblue;
        .jq-file__name{
          text-decoration: underline;
        }
      }
      div{
        display:inline-block;
        line-height: 18px;
        height:auto;
      }
      input{
        cursor:pointer;
      }
    }
    a{
      color:$blue;
      &:hover{
        color:$lightblue;
        text-decoration: underline;
      }
    }
  }
  .action-button {
    margin-right: 7px;
  }
  input[type="submit"]{
    display:none;
  }
}
.static-data{
  .empty-value{
    display:none;
  }
}
.editing-data{
  table{
    .edit-form{
      opacity:1;
      visibility: visible;
      @include transition2(opacity 0.3s linear 0.2s, visibility 0.3s linear 0.2s);
    }
    div.form-text{
      opacity:0;
      visibility: hidden;
      @include transition2(opacity 0.3s linear 0s, visibility 0.3s linear 0s);
    }
  }
}

.atlwdg-trigger{
  z-index: 150000;
}

@media (min-width: 2200px) {

  .work-space .photos-wrapper .photo-item {
    width: 16.6666%;
  }
}

@media (min-width: 2600px) {

  .work-space .photos-wrapper .photo-item {
    width: 14.285%;
  }
}

@media (min-width: 3000px) {

  .work-space .photos-wrapper .photo-item {
    width: 12.5%;
    max-width: 362px;
  }
}

@media (max-width: 1400px) {

  .work-space .photos-wrapper .photo-item {
    width: 25%;
  }
  .batches-block .disable-message {
    padding: 25px 15px;

  }
}